<div class="hosts">

    <div class="wrapper">

        <div class="hosts-title">
            <h2>Meet the Hosts</h2>
        </div>

        <ul>
            <li class="rucker">
                <img src="{{ site.baseurl}}/img/bios/rucker.jpg" alt="" />
                <div class="bio">
                    <h3>Josh Rucker</h3>
                    <p>Josh Rucker is a software engineer working at Interactive Intelligence in Research Triangle Park. He builds sophisticated interfaces for the modern web. In his free time, he enjoys photographing interesting people and places.</p>
                </div>
            </li>
            <li class="mobley">
                <img src="{{ site.baseurl}}/img/bios/mobley.jpg" alt="" />
                <div class="bio">
                    <h3>Josh Mobley</h3>
                    <p>Josh Mobley applies digital strategy to enhance storytelling, bolster community engagement, and create delightful online experiences. He brings an intentional approach to accessibility, user experience, and progressive enhancement while assisting in leading clients through the process of transforming their objectives into high-quality digital experiences and online communities.</p>
                </div>
            </li>
            <li class="rigby">
                <img src="{{ site.baseurl}}/img/bios/rigby.jpg" alt="" />
                <div class="bio">
                    <h3>Nick Rigby</h3>
                    <p>Nick Rigby is tall, British, and lives in America. He’s terribly sorry about the whole War of 1812 unpleasantness. To make it up to you, he works to create beautiful, user-focused websites that are easy and intuitive to use. He’s also contributed to the popular online web standards magazine, A List Apart.</p>
                </div>
            </li>
        </ul>

    </div>

</div>
