@font-face{
    font-family: 'cutive-mono';
    src: url('../fonts/CutiveMono-Regular.ttf');
}

@font-face{
    font-family: 'droid-sans';
    src: url('../fonts/DroidSans.ttf');
}

@font-face{
    font-family: 'droid-sans-bold';
    src: url('../fonts/DroidSans-Bold.ttf');
}
