.site-footer{
    padding: 2em 0;
    background: $color-primary;

    .footer-heading{
        font-family: 'cutive-mono';
    }

    .social-media-list{
        a{
            display: inline-block;

            span{
                display: inline-block;

                &.icon{
                    width: 20px;
                    height: 20px;
                    margin-right: 1em;
                }
            }
        }
    }
}
