html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.clearfix{
    zoom: 1;

    &:after{
        content: '';
        height: 0;
        clear: both;
        visibility: hidden;
        display: block;
    }
}

a:hover {
    color: $color-primary;
}
