.site-header{
    padding: 1.6em 0;
    position: relative;
    background: $color-white;
    border-bottom: 1px solid #eee;

    .site-title{
        @extend h1;
        font-weight: normal;
        font-size: 1em;
        color: $color-black;

        i {
            font-size: 1.8em;
            vertical-align: middle;
            transform: rotate(30deg);
            margin-right: .5em;
            padding-bottom: .14em;
            display: inline-block;
            color: $color-primary;
        }
    }

    .site-nav{
        width: 50%;

        .menu-icon{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2.25em;
            right: 10%;
        }

        .trigger{
            position: fixed;
            right: -100vw;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: $color-secondary;
            color: $color-white;
            transition: right .3s;

            &.is-visible{
                right: 0;
            }
        }
    }
}

@media screen and (min-width: 500px){

    .site-header{

        .site-title{
            font-size: 1.4em;
        }

    }

}
