.hero {
    padding: 2em 0;
    background: $color-white;
    color: $color-black;
    font-weight: normal;
    border-bottom: 1px solid #eee;

    p {
        font-size: 1em;
        line-height: 1.6em;
        margin: 0;
    }

    span {
        font-weight: bold;
        color: $color-primary;
    }
}

@media only screen and (min-width: 500px) {
    .hero {
        padding: 3.2em 0;
        p {
            font-size: 2.2em;
            line-height: 1.2em;
        }
    }
}

@media only screen and (min-width: 900px) {
    .hero {
        padding: 3.2em 0;
        p {
            font-size: 4.8em;
            line-height: 1.2em;
        }
    }
}
