.site-header{
    padding: 2em 10%;
    position: relative;
    background: $color-primary;

    .site-title{
        @extend h1;
        color: $color-white;
    }


    .site-nav{
        width: 50%;

        .menu-icon{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2.25em;
            right: 10%;
        }

        .trigger{
            position: fixed;
            right: -100vw;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: $color-secondary;
            color: $color-white;
            transition: right .3s;

            &.is-visible{
                right: 0;
            }
        }
    }
}

.page-content{
    padding: 2em 10%;

    img{
        max-width: 100%;
    }

    .featured-track{
        dl{
            background: $color-gray;
            padding: 1em;

            dt{
                font-size: 1.2em;
                margin-bottom: .25em;
            }

            dd + dd{
                margin-top: 2em;
                font-size: .8em;
            }
        }
    }
}

.site-footer{
    padding: 2em 10%;
    background: $color-primary;

    .social-media-list{
        a{
            display: inline-block;

            span{
                display: inline-block;

                &.icon{
                    width: 20px;
                    height: 20px;
                    margin-right: 1em;
                }
            }
        }
    }
}
