.page-content{
    padding: 2em 0;

    img{
        max-width: 100%;
    }

    .featured-track{
        dl{
            background: $color-gray;
            padding: 1em;

            dt{
                font-size: 1.2em;
                margin-bottom: .25em;
            }

            dd + dd{
                margin-top: 2em;
                font-size: .8em;
            }
        }
    }
}


.post-list{
    padding: 0;

    li{
        list-style: none;
        position: relative;
        background-size: cover;
        background-position: center;
        margin: 0;

        .post-content{
            padding: 2em 20%;
            top: 0;
            left: 180px;

            h2, span{
                background: $color-white;
                padding: 1em;
            }
        }
    }
}
