.hero.page{
    background-size: cover;
    background-attachment: initial;
    background-position: center;
    height: 50px;
    width: 100%;
    position: static;
}

.page-content{
    padding: 4em 0;
    background: #f9f9f9;
    @extend .clearfix;

    .page-heading {
        margin-top: 0;
    }

    img{
        max-width: 100%;
    }

    .description, .topics, .featured-track{
        margin-top: 4em;
    }

    .featured-track{

        dl{
            background: $color-gray;
            padding: 1em;

            dt{
                font-size: 1.2em;
                margin-bottom: .25em;
            }

            dd + dd{
                margin-top: 2em;
                font-size: .8em;
            }
        }
    }
}

.post-list{

    .page-heading {
        padding: 0;
    }

    li{
        list-style: none;
        position: relative;
        background-size: cover;
        background-position: center;
        margin: 0;
        background: $color-white;
        border: 1px solid #eee;
        margin: 3.2em 0;

        a .post-content{
            padding: 2em;
            top: 0;
            left: 180px;

            h2 {
                background: $color-white;
                color: $color-black;
                padding: 0;
                margin: 0;

                span {
                    font-weight: normal;
                    color: #666;
                    font-style: italic;
                }
            }

            p {
                color: $color-black;
                line-height: 1.6em;
                margin-bottom: 0;
            }
        }

        a:hover .post-content {
            h2, span {
                color: $color-primary;
            }
        }
    }
}

@media screen and (min-width: 500px){

    .page-content{

        .featured-track{

            img{
                width: 25%;
                float: left;
            }

            dl{
                margin-left: 30%;
            }

        }

    }

}
