.page-content{
    padding: 2em 0;

    img{
        max-width: 100%;
    }

    .featured-track{
        dl{
            background: $color-gray;
            padding: 1em;

            dt{
                font-size: 1.2em;
                margin-bottom: .25em;
            }

            dd + dd{
                margin-top: 2em;
                font-size: .8em;
            }
        }
    }
}
