h1, h2, h3, h4, h5 {
    font-family: $sans;
}

h1{
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 1em 0;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 1em 0;
}

h3{
    font-size: 1em;
    line-height: 1.4em;
}

h4{
    font-size: 1.2em;
    line-height: 1.4em;
}

h5{
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
    line-height: 1.2em;
    margin: 1em 0;
}

li{
    margin: .5em 0 .5em 1.5em;
    list-style: disc;
}

blockquote{
    font-family: $mono;
}

p, dl, ul, ol, span{
    font-family: $sans;
    line-height: 1.2em;
}

p{
    margin: 1em 0;
}

a{
    text-decoration: none;
    color: $color-secondary;
}
